{{!-- {{#if auth}} --}}
<h1>Adicionar Usuário</h1>

<form action="/users/save" method="post">
<div class="col-md-4 ">
<label for="name" class="form-label"> nome :</label>
<input type="text" name="nome" class="form-control">
</div>
<div class="col-md-4 ">
<label for="age" class="form-label">ano fabric :</label>
<input type="text" class="form-control" name="ano">
</div>
<div class="col-md-4 ">
<label for="age" class="form-label">marca:</label>
<input type="text" class="form-control" name="marca">
</div>
<label for="age" class="form-label">cor:</label>
<input type="text" class="form-control" name="cor">
</div>
<label for="age" class="form-label">potencia motor:</label>
<input type="text" class="form-control" name="age">
</div>

<br>
<div class="col-12">
<button type="submit" class="btn btn-primary">Sign in</button>
</div>
</form>
<br>
<div class="col-3">
<a href="/">Home</a>
</div>
{{!-- {{/if}} --}}